@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.container {
  width: 1200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  border-top: 1px dashed #000000;
  width: 0px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

textarea {
  background: transparent;
  resize: none;
  color: #000000;
  border: none;
  border-left: 4px solid pink;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  display: flex;
  flex-wrap: nowrap;
}

.saveBtn {
  background-repeat: no-repeat;
  border-left: 4px solid cornflowerblue;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.past {
  background-color: #d3d3d3;

}

.present {
  background-color: #ff6961;

}

.future {
  background-color: #77dd77;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* smartphones */
@media screen and (max-width: 768px) {
  .hour {
    width: fit-content;
    border-top: none;
    margin-right: 20px;
  }

  .saveBtn {
    width: fit-content
  }
}

@media screen and (max-width: 570px) {
  * {
    font-size: 10px;
  }
  .container {
    width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 275px;
  }
}